body {
  background-image: url("images/books.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-origin: content-box;
  background-size: cover;
}

.header {
  max-width: 960px;
  margin: 0 auto;
}

a {
  color: #a5d6e9;
  text-decoration: none;
}

footer p {
  text-align: center;
  color: #859aaa;
}

.App {
  max-width: 960px;
  margin: 0 auto;
}

.App-header {
  margin: 30px 0;
}

.App-footer {
  text-align: center;
}

@media (max-width: 960px) {
  .App-logo {
    max-width: 400px;
    margin: 0 auto;
  }
  .App {
    max-width: 400px;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .App-logo {
    max-width: 200px;
    margin: 0 auto;
  }
}
